<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue sample</title>
  </head>
  <body>
    <div id="app">
        <h1>{{message}}</h1>


        <input v-model="message">

        <textarea v-model="message"></textarea>

        <span v-show="!message">
          error
        </span>
        <span v-if="!message">
          error
        </span>

        <form action="index.html" @submit="handleIt">
          <button type="submit">
            subimit!
          </button>
        </form>

        <button type="submit" @click="updateCount">
          count up! {{count}}
        </button>
        <counter></counter>
        <tag-counter subject="hello"></tag-counter>
        <input type="color">

        <pre>
          {{ $data | json}}
        </pre>



    </div>

    <template id="counter-from-template-tag">
      <h1>from template({{subject}})</h1>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      Vue.component('tag-counter',{
        template: '#counter-from-template-tag',
        props:['subject'],
        data:{
          count:0
        }
      })

      new Vue({
        el: '#app',
        data:{
          message:'Hello, World',
          count:0
        },
        methods: {
          handleIt: function(){
            alert('handleIt');
          },
          updateCount: function(){
            this.count  += 1;
          }
        },
        components: {
          counter: {
            template: '<h1>from counter component</h1>'
          }
        }
      });
    </script>
  </body>
</html>
